@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model OrderDetailModel

@{
	//List<DeliverryMethods> deliveryMethods = Enum.GetValues(typeof(DeliverryMethods)).Cast<DeliverryMethods>().ToList();
	List<string> paymentMethods = new List<string>() { "Cash" };
}

<form method="post" asp-action="Create" asp-controller="Order" class="row">
    <div class="col-4">
        <div class="mt-3 mb-3 d-flex justify-content-between">
            <p class="h4 text-color-secondary">Products</p>
            <p class="h6 text-secondary">x @Model.Amount</p>
        </div>
        @foreach (var item in Model.Products)
        {
            <component type="typeof(OrderCardItem)"
                   render-mode="ServerPrerendered"
                   param-orderDetail="@item" />
        }
    </div>
    <div class="col-8 position-relative vh-90">
        <div class="fillInfo mt-3">
            <p class="h4 text-color-secondary">Customer Information</p>
            <div class="infoCus mt-3 d-flex justify-content-between align-items-sta" id="info-Cus">
                <div class="d-flex gap-3">
                    <div class="form-group">
                        <label class="form-label h6 mb-2" for="exampleFormControlInput1">Name:</label>
                        <input type="text" asp-for="FullName" class="form-control form-control-lg h5 py-2" placeholder="">
                    </div>
                    <div class="form-group">
                        <label class="form-label h6 mb-2" for="exampleFormControlInput1">Phone:</label>
                        <input type="text" asp-for="PhoneNumber" class="form-control form-control-lg h5 py-2" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label h6 mb-2" for="exampleFormControlInput1">Address:</label>
                    <input type="text" asp-for="Address"  style="font-family:'Open Sans'" class="form-control form-control-lg h5 py-2" placeholder="">
                </div>
                <div class="d-flex flex-column justify-content-between gap-2">
                    <button type="button" class="btn btn-no-p btn-secondary p-1"
                            onclick="showPartialViewForChoosingAddress('@Url.Action("ChooseAddress","Order")')">
                        Choose other
                    </button>
                    <button type="button" class="btn btn-no-p btn-secondary p-1"
                            onclick="showContent2('@Url.Action("CreateInfoDelivery", "Profile")', 'Create new Info Delivery')">
                        Add new
                    </button>
                </div>
            </div>

            <p class="h4 text-color-secondary mt-4">Other Informations</p>
            <div class="row mt-3 align-items-center">
                <div class="form-group col-3">
                    <label class="form-label h6 mb-2" for="selectCategory">Delivery Method</label>
                    <input class="form-control form-control-lg h5 py-2" asp-for="DeliveryMethod" />
                </div>
            </div>
            <div class="row mt-3">

                <div class="form-group col-3">
                    <label class="form-label h6 mb-2" for="selectCategory">Payment Method</label>
                    <input class="form-control form-control-lg h5 py-2" value="Cash" />
                </div>
                <div class="form-group col-6">
                    <label class="form-label h6 mb-2" for="exampleFormControlInput1">Voucher</label>
                    <div class="d-flex">
                        <input type="text" name="voucher" class="form-control form-control-lg h5 py-2" id="voucher-input" placeholder="">
                        <button type="button" class="btn-no-p btn-secondary"
                                onclick="checkVoucher('@Url.Action("CheckVoucher","Order",null,Context.Request.Scheme)')">
                            Check
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="position-absolute bottom-0 end-0 w-100">
            <partial name="_ViewTotal.cshtml" model="@Model" />
            <button type="submit" class="btn btn-primary w-100 mt-3">Make an order</button>
        </div>
    </div>
</form>
