@model OrderDetailModel

<div>
	<div class="w-100 d-flex flex-column align-items-center mb-5 mt-3">
		<div class="col-12 col-md-10 col-lg-9 shadow-color bg-color-fade radius20" style="padding: 36px 24px 36px 24px;">
			<div class="d-flex justify-content-between text-dark">
				<div class="">
					<partial name="_ViewStatus" model="@Model" />
				</div>
				<div class="">
					<p class="caption">Ordered By @Model.Date</p>
				</div>
			</div>

			<div class="row mt-5">
				<div class="col-12 col-lg-5">
					@if (Model.Products.Count > 0)
					{
						@foreach (var item in Model.Products)
						{
							<component type="typeof(OrderCardItem)"
							   render-mode="ServerPrerendered"
							   param-orderDetail=@item
							   param-orderDetailId=@item.Id />
						}
					}
				</div>
				<div class="col-12 col-lg-5 mt-4 mt-lg-0 text-dark">
					<div class="d-flex flex-column gap-2">
						<p class="h4">Customer</p>
						<div class="d-flex align-items-end gap-2">
							<p class="caption-lg">Name:</p>
							<p class="h5">@Model.FullName</p>
						</div>
						<div class="d-flex align-items-end gap-2">
							<p class="caption-lg">Phone:</p>
							<p class="h5">@Model.PhoneNumber</p>
						</div>
						<div class="d-flex align-items-end gap-2">
							<p class="caption-lg">Address:</p>
							<p class="h5" style="font-family:'Open Sans'">@Model.Address</p>
						</div>
					</div>
					<div class="row mt-4 text-dark">
						<div class="col d-flex flex-column gap-2">
							<p class="h4">Payment</p>
							<p class="h5">Cash</p>
						</div>
						<div class="col d-flex flex-column gap-2">
							<p class="h4">Delivery</p>
							<p class="h5">@Model.DeliveryMethod</p>
						</div>
					</div>
					<div class="col d-flex flex-column gap-2 mt-4">
						<p class="h4">Voucher</p>
						<p class="h5">@Model.Voucher</p>
					</div>
				</div>

			</div>

			<div class="w-100 mt-5">
				<div class="d-flex flex-column justify-content-between w-100">
					<div class="">
						<div class="d-flex justify-content-between">
							<span class="caption">Items Amount</span>
							<span class="caption">@Model.Amount</span>
						</div>
						<div class="d-flex justify-content-between mt-2">
							<span class="h6">Price</span>
							<span class="h6">$@Model.Total</span>
						</div>
						<div class="d-flex justify-content-between mt-2">
							<span class="caption">Delivery Fee</span>
							<span class="caption">$@Model.DeliveryCharge</span>
						</div>
						<div class="d-flex justify-content-between mt-2">
							<span class="caption">Discount</span>
							<span class="caption">$@Model.Discount</span>
						</div>
						<div class="d-flex justify-content-between h1 mt-2 text-primary">
							<span>Total</span>
							<span>$@(Model.Total - Model.Discount)</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="w-100 d-flex justify-content-center">
		<a class="btn btn-primary" onclick="callGetWithId('@Url.Action("HandleStatus","Order",null,Context.Request.Scheme)', '@Model.Id')">
			@if (Model.Status == Status.Waiting || Model.Status == Status.Purchased)
			{
				<span>Cancel</span>
			}
			else if (Model.Status == Status.Delivering)
			{
				<span>Received</span>
			}
		</a>
	</div>
</div>
