@using FlowerShopManagement.Web.Views.Shared.Components;
@model ProductModel

@{
	ViewData["Title"] = "Detail Page";
}
<div class="mt-5 row">

	<div class="col-4">
		<img src="~/image/flower2.png" class="w-100 h-auto" />
	</div>

	<div class="col-5 d-flex flex-column justify-content-between">
		<div>
			<p class="h2">@Model.Name</p>
			<div class="form-group mt-4">
				<label for="exampleFormControlInput1" class="h6">Color</label>
				<span>@Model.Amount</span>
			</div>
			<div class="form-group mt-4">
				<label for="exampleFormControlInput1" class="h6">Amount</label>
				<input type="number" class="form-control" />
				<small id="passwordHelpInline" class="text-muted">
					Remain: @Model.Amount
				</small>
			</div>
			<div class="form-group mt-4">
				<label for="exampleFormControlInput1" class="h6">Material</label>
				<span>@Model.Name</span>
			</div>
			<div class="form-group mt-4">
				<label for="exampleFormControlInput1" class="h6">Dimension</label>
				<span>@Model.Name</span>
			</div>
		</div>
		<div class="d-flex flex-column">
			<button class="btn btn-secondary w-50 icon-cart">Add to Cart</button>
			<button class="btn btn-primary w-50 mt-2 icon-arrow">Buy Now</button>
		</div>
	</div>

	<div class="col-3 d-flex flex-column justify-content-between">

		<div class="">
			<label class="h6">Description</label>
			<p class="mt-2">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
				when an unknown printer took a galley of type and scrambled it to make a type specimen book.
			</p>

		</div>
		<div class="row gx-2 gy-3">
			<component type="typeof(ProductInformationPanel)" render-mode="Static" />
			<component type="typeof(ProductInformationPanel)" render-mode="Static" />
			<component type="typeof(ProductInformationPanel)" render-mode="Static" />
			<component type="typeof(ProductInformationPanel)" render-mode="Static" />
		</div>
	</div>
</div>

<div class="row mt-5">
	<span>Review</span>
</div>

<div class="row mt-5">
	<span>Relative Product</span>
</div>