@model PaginatedList<SupplierModel>?

<form method="post" action="@(Url.Action("PickedAnItem", "Import"))" style="width:800px" onsubmit="return jQueryAjaxReloadPickingTable(this);">

    <div class="row">
        <div class="col p-0 mt-2">
            <div class="col d-flex flex-column gap-2">
                <div class="d-flex flex-row">
                    <div class="container">
                        <!--Search-->
                        <div class="d-flex justify-content-end">
                            <input id="searchFilter" type="text" name="filter" class="form-control" />
                            <button onclick="return showContentItem('@Url.Action("PickItemDialog","Import",null,Context.Request.Scheme)','Choose product');" class="icon-search border-primary">Search</button>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-wrap">
                                    <table class="table myaccordion table-hover" id="accordion">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th class="button">Name</th>
                                                <th class="button">Phone</th>
                                                <th class="button">Email</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                                @foreach (var i in Model)
                                                {
                                                    <input name="ids" value="@i._id" hidden />
                                                    <tr data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed w-100">

                                                        <th>
                                                            @*Picture place*@
                                                            @*<div class="d-flex flex-column">
                                                    @i.Id.Substring(i.Id.Length-6,5)
                                                    @if (String.IsNullOrEmpty(i.Picture))
                                                    {
                                                    i.Picture = "product-empty.png";
                                                    }
                                                    <img src="~/image/@i.Picture"
                                                    height="80" width="80"
                                                    asp-append-version="true" />

                                                    </div>*@

                                                        </th>
                                                        <td>@i.Name</td>
                                                        <td>$@i.PhoneNumber</td>
                                                        <td>@i.Email</td>

                                                        <td>
                                                           Check box nef
                                                        </td>
                                                    </tr>
                                                }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>