@model PaginatedList<ProductModel>?


	<div class="row">
		<div class="col p-0 mt-2">
			<div class="col d-flex flex-column gap-2">
				<div class="d-flex flex-row">
					<div class="container">
						<!--Search-->
						<div class="d-flex justify-content-end">
							<input id="searchFilter" type="text" name="filter" class="form-control" />
							<button onclick="return showContentItem('@Url.Action("PickItemDialog","Import",null,Context.Request.Scheme)','Choose product');" class="btn btn-secondary btn-no-min icon-search"></button>
						</div>

						<div class="row mt-3">
							<div class="col-md-12">
								<div class="table-wrap">
									<table class="table myaccordion table-hover" id="accordion">
										<thead>
											<tr>
												<th>#</th>
												<th class="button">Name</th>
												<th class="button">Price</th>
												<th class="button">Color</th>
												<th class="button">Amount</th>
												<th class="button">Quantity</th>
											</tr>
										</thead>
										<tbody>
											@if (Model != null)
											{
												int id = 0;
												@foreach (var i in Model)
												{
													id++;

													<input name="ids" value="@i.Id" hidden />
													<tr data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed w-100">

														<td>
															@id
														</td>
														<td>@i.Name</td>
														<td>$@i.UniPrice</td>
														<td>@i.Color</td>
														<td>@i.Amount</td>

														<td>
															<div class="">
																<label class="form-check-label ml-5 d-flex align-items-center">
																	<input type="number" name="amounts" value="0" placeholder="0" id="input_@i.Id" class="form-control ms-2" style="width:100px;" />
																</label>
															</div>
														</td>
													</tr>
												}
											}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

