@using FlowerShopManagement.Web
@using FlowerShopManagement.Application.Models
@model PaginatedList<ProductModel>

@{
	
}

<div class="table-wrap">
	<table class="table myaccordion table-hover" id="accordion">
		<thead>
			<tr>
				<th>#</th>
				<th class="button">Name</th>
				<th class="button">Price</th>
				<th class="button">
					<div class="d-none d-lg-block">
						Category
					</div>
				</th>
				<th class="button">Amount</th>
				<th class="button">
					Edit
				</th>
			</tr>
		</thead>
		<tbody>
			@if (Model != null)
			{
				var i = 0;
				foreach (var item in Model)
				{
					i++;

					<tr data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed align-middle">

						<th scope="row">@i</th>
						<td>
							<div class="d-flex align-items-center gap-2">
								@if (String.IsNullOrEmpty(item.Picture))
								{
									item.Picture = "flower1.png";
								}

								<img src="~/image/@item.Picture"
							 class="rounded-circle"
							 height="40" width="40"
							 asp-append-version="true" />
								<span class="limit-line">@item.Name</span>
							</div>
						</td>
						<td>$@item.UniPrice</td>
						<td>
							<div class="d-none d-lg-block">

								@item.Name
							</div>

						</td>
						<td>@item.Amount</td>
						<td>
							<a href="@Url.Action("Edit","Product",new {id = @item.Id})" class="border-1 table-icon">
								<i class="fas fa-edit"></i>
							</a>
						</td>
						
					</tr>
				}
			}
		</tbody>
	</table>

	
</div>