@model List<UserModel>

<div class="table-wrap">
	<table class="table myaccordion table-hover" id="accordion">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>
					<div class="d-none d-lg-block">
						Email
					</div>
				</th>
				<th>Start Date</th>
				<th>Role</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
				@if (Model != null&&Model.Count > 0)
				{
					for (var i = 1; i <= Model.Count; i++)
					{
					<tr data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed align-middle">

						<th scope="row">@i</th>
						<td>
							<div class="d-flex align-items-center gap-2">
									@if (String.IsNullOrEmpty(@Model[i - 1].Avatar))
									{	
										Model[i-1].Avatar = "flower1.png";
									}

								<img src="~/image/@Model[i-1].Avatar"
							 class="rounded-circle"
							 height="40" width="40"
							 asp-append-version="true" />
								<span class="limit-line">@Model[i-1].Name</span>
							</div>
								
						</td>
						<td>
							<div class="d-none d-lg-block">
									@Model[i-1].Email
							</div>
						</td>
						<td>@Model[i-1].CreatedDate.ToString("dd MMM y")</td>
						<td>@Model[i-1].Role.ToString()</td>
						<td>
							<a asp-action="Edit" asp-controller="User" asp-area="Admin" id="@Model[i-1].Email" asp-route-id="@Model[i-1].Email" class="border-1 link-info table-icon">
								<i class="fas fa-edit"></i>
							</a>
						</td>
					</tr>
					}
				}
			</tr>
		</tbody>
	</table>
</div>