@model List<OrderModel>

<div class="table-wrap">
			<table class="table myaccordion table-hover" id="accordion">
				<thead>
					<tr>
						<th>#</th>
						<th>Code</th>
						<th>Customer</th>
						<th>Price</th>
						<th>
							<div class="d-none d-lg-block">
								Amount
							</div>
						</th>
						<th>
							<div class="d-none d-lg-block">
								Date Create
							</div>
						</th>
						<th>State</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
						@for (var i = 1; i <= Model.Count; i++)
						{
						<tr data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed align-middle">

							<th scope="row">@i</th>
							<td>@Model[i-1].Id.Substring(0,5)</td>
							<td>@Model[i-1].FullName</td>
							<td>$@Model[i-1].Total</td>
							<td>
								<div class="d-none d-lg-block">
										@Model[i-1].Total
								</div>
							</td>
							<td>
								<div class="d-none d-lg-block">
										@Model[i-1].Date.Value.ToString("dd MMM y HH:mm")
								</div>
							</td>
								@if (@Model[i - 1].Status.ToString() == "Waiting")
								{
								<td class="fw-bold text-primary">@Model[i-1].Status.ToString()</td>

								}
								else if (@Model[i - 1].Status.ToString() == "Canceled")
								{
								<td class="text-danger fst-italic">@Model[i-1].Status.ToString()</td>
								}
								else if (@Model[i - 1].Status.ToString() == "Delivering")
								{
								<td class="text-info">@Model[i-1].Status.ToString()</td>
								}
								else
								{
								<td class="text-success fst-italic">@Model[i-1].Status.ToString()</td>

								}
							<td>
								<a onclick="showContent('@Url.Action("Edit","Order",null,Context.Request.Scheme)','Edit Order','@Model[i-1].Id')" class="border-1 link-info table-icon">
									<i class="fas fa-edit"></i>
								</a>
							</td>
						</tr>
						}
					</tr>
				</tbody>
			</table>

			@*<nav class="container">
			<ul class="pagination" style="display:flex; flex-direction:row">
			@if (nProducts != 0)
			{
			if (nProducts > 1) nProducts -= 1;
			<li class="page-item"><button class="page-link" name="page" value=@nProducts type="submit">Previous</button></li>
			}
			@for (int i = 1; i <= @countPage(); i++)
			{
			if (i == nProducts + 1)
			{
			<li class="page-item"><button class="page-link" name="page" value=@i type="submit" style="background-color:lightgrey" disabled>@i</button></li>
			}
			else
			{
			<li class="page-item"><button class="page-link" type="submit" onclick="jQueryAjaxPagination('@(Url.Action("Pagination", "Order"))',@i)">@i</button></li>
			}
			}
			@if (nProducts + 1 != @countPage() && @countPage() > 0)
			{
			nProducts += 2;
			<li class="page-item"><button class="page-link" name="page" value=@nProducts type="submit">Next</button></li>
			}
			</ul>
			</nav>*@
		</div>