@model OrderModel;

<form method="post" asp-action="Update" asp-controller="Order" asp-area="Admin" class="modal-content border-0" enctype="multipart/form-data">
	<div class="row mt-4">
		<div class="col">
			<input hidden asp-for="Id" />
			@*user info*@
			<div class="h3 fw-bold text-info">@Model.Status</div>
			<div class="row mt-3">
				<div class="col d-grid gap-2">
					<div class="form-group">
						<label for="floatingInput">User Name</label>
						<input type="text" asp-for="FullName" readonly class="form-control form-control-lg h5 py-3" id="floatingInput">
						<span asp-validation-for="FullName" class="text-danger"></span>
					</div>

					<div class="form-group flex-grow-1">
						<label for="floatingTextarea">Phone number</label>
						<input class="form-control form-control-lg h5 py-3" readonly asp-for="PhoneNumber" placeholder="Leave a comment here" id="floatingTextarea"></input>
						<span asp-validation-for="PhoneNumber" class="text-danger"></span>
					</div>
				</div>
				@*charge info*@
				<div class="col d-grid gap-2">
					<div class="form-group">
						<label for="floatingInput">DeliveryMethod</label>
						<input type="text" asp-for="DeliveryMethod" readonly class="form-control form-control-lg h5 py-3" id="floatingInput" placeholder="$20">
						<span asp-validation-for="DeliveryMethod" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label for="floatingInput">DeliveryCharge</label>
						<input type="number" asp-for="DeliveryCharge" readonly class="form-control form-control-lg h5 py-3" id="floatingInput" placeholder="1">
						<span asp-validation-for="DeliveryCharge" class="text-danger"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="table-wrap">
				<table class="table myaccordion table-hover" id="accordion">
					<thead>
						<tr>
							<th>#</th>
							<th class="button">Name</th>
							<th class="button">Price</th>
							<th class="button">Color</th>
							<th class="button">Amount</th>

						</tr>
					</thead>
					<tbody>

						@for (var i = 1; i <= Model.Products.Count; i++)
						{
							<tr data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">

								<th scope="row">@i</th>
								<td>@Model.Products[i-1].Name</td>
								<td>@Model.Products[i-1].UniPrice</td>
								<td>@Model.Products[i-1].Color</td>
								<td>@Model.Products[i-1].Amount</td>

							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	@Html.AntiForgeryToken()
</form>
<div class="fixed-bottom bottom-50 start-50">
    <div class="d-flex gap-2">
        <a class="btn btn-outline-info" asp-action="CompletedCheck" asp-controller="Order" asp-route-id=@Model.Id>Completed</a>
		<a  class="btn btn-primary" asp-action="ConfirmCheck" asp-area="Admin" asp-controller="Order" asp-route-id=@Model.Id>Confirm</a>
    </div>
	<a  class="btn btn-outline-secondary icon-delete" asp-action="CanceledCheck" asp-controller="Order" asp-route-id=@Model.Id>Cancel</a>
</div>