@*Kiem tra xem da dang nhap hay chua?*@

@{
	ViewBag.IsAuthenticated = false;
}

@if (Context.User.Identity is not null)
{
	ViewBag.IsAuthenticated = Context.User.Identity.IsAuthenticated;
}

@if (!ViewBag.IsAuthenticated)
{
	<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
		<ul class="navbar-nav flex-grow-1 justify-content-center align-items-center">
			<li class="nav-item px-3">
				<a class="nav-link @(ViewBag.Home==true?"active":"")" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
			</li>
			<li class="nav-item px-3">
				<a class="nav-link @(ViewBag.About==true?"active":"")" asp-area="" asp-controller="Home" asp-action="About">About</a>
			</li>
		</ul>
	</div>
}
else
{
	<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
		<ul class="navbar-nav flex-grow-1 justify-content-center align-items-center">
			<li class="nav-item px-3">
				<a class="nav-link @(ViewBag.Home==true?"active":"")" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
			</li>
			<li class="nav-item px-3">
				<a class="nav-link @(ViewBag.WishList==true?"active":"")" asp-area="" asp-controller="WishList" asp-action="Index">WishList</a>
			</li>
			<li class="nav-item px-3">
				<a class="nav-link @(ViewBag.Order==true?"active":"")" asp-area="" asp-controller="Order" asp-action="Index">Order</a>
			</li>
			<li class="nav-item px-3">
				<a class="nav-link @(ViewBag.Profile==true?"active":"")" asp-area="" asp-controller="Profile" asp-action="Index">Account</a>
			</li>
			<li class="nav-item px-3">
				<a class="nav-link @(ViewBag.About==true?"active":"")" asp-area="" asp-controller="Home" asp-action="About">About</a>
			</li>
		</ul>
	</div>
}
