@using Newtonsoft.Json;

@model InforDeliveryModel
@*<h1>Create new infor delivery</h1>*@
@{
    string s = ViewData["Addresses"] as string ?? "";

    var addresses = JsonConvert.DeserializeObject<List<AddressModel>>(s) ?? new List<AddressModel>();

    var cities = addresses.GroupBy(i => i._city).Select(i => i.Key).ToList();
    var districts = ViewData["Districts"] as List<string> ?? addresses.Where(i => i._city == "Thành phố Hà Nội").GroupBy(i => i._district).Select(i => i.Key).ToList();
    var wards = ViewData["Districts"] as List<string> ?? addresses.Where(i => i._city == "Thành phố Hà Nội" && i._district == "Huyện Đông Anh").GroupBy(i => i._commune).Select(i => i.Key).ToList();
}
<form asp-action="UpdateInfoDelivery" asp-controller="Profile" method="post" onsubmit="return addAddress(this);">
    <p class="h2 mb-3">Edit Delivery Information</p>
    <div class="">
        <div class="flex-grow-1">
            @if (Model.IsDefault)
            {
                <p class="h4 text-secondary mb-3">Default</p>
            }
            <div class="d-flex flex-column gap-3">
                <div class="form-group">
                    <label class="form-label">Name:</label>
                    <input type="text" asp-for="FullName" class="form-control form-control-lg h5 py-3" placeholder="">
                    <span asp-validation-for="FullName" />
                </div>
                <div class="form-group">
                    <label class="form-label">Phone:</label>
                    <input type="text" asp-for="PhoneNumber" class="form-control form-control-lg h5 py-3" placeholder="">
                    <span asp-validation-for="PhoneNumber" />
                </div>
                @*changes*@
                <div class="row">
                    <div class="col form-group">
                        <label class="form-label" for="floatingSelect">City</label>
                        <select asp-items="@(new SelectList(cities))" id="city" name="city"
                                class="form-select form-select-lg h5 py-3" style="font-family:Open Sans"
                                id="floatingSelect" aria-label="Floating label select example"
                                required onchange="if (this.selectedIndex != -1) FindDistricts(this,'@Url.Action("FindDistricts","Profile",null,Context.Request.Scheme)');">
                            <option value="@Model.City" selected> @Model.City</option>
                        </select>
                    </div>
                    <div class="col form-group ">
                        <label class="form-label">District</label>
                        <select class="form-select form-select-lg h5 py-3" id="district" name="district" style="font-family:'Open Sans'"
                                asp-items="@(new SelectList(districts))" aria-label="Floating label select example"
                                required onchange="if (this.selectedIndex != -1) FindWards(this,'@Url.Action("FindWards","Profile",null,Context.Request.Scheme)');">
                            <option value="@Model.District" selected>@Model.District</option>

                        </select>
                    </div>
                </div>
                <div class="col form-group ">
                        <label class="form-label">Ward</label>
                    <select class="form-select form-select-lg h5 py-3" id="ward" name="Commune" style="font-family:'Open Sans'"
                                asp-items="@(new SelectList(wards))"
                                aria-label="Floating label select example"
                                required>
                            <option value="@Model.Commune" selected>@Model.Commune</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="exampleFormControlInput1">Address</label>

                        <div class="d-flex">
                            <input type="text" asp-for="Address"
                                   class="form-control form-control-lg h5 py-3"
                                   id="ip-address" style="font-family:'Open Sans'" placeholder="eg: 69 Le Loi street">
                        </div>

                    </div>
            </div>
        </div>

        <button class="btn btn-primary mt-5 w-100">Submit</button>
    </div>
</form>