@model PaginatedList<VoucherDetailModel>

<div class="table-wrap">
    <table class="table myaccordion table-hover" id="accordion">
        <thead>
            <tr>
                <th>#</th>
                <th>Code</th>
                <th>
                    <div class="d-none d-lg-block">
                        Condition
                    </div>
                </th>
                <th>Value</th>
                <th>Start Date</th>
                <th>
                    <div class="d-none d-lg-block">
                        Expire
                    </div>
                </th>
                <th>Amount</th>
                <th>State</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                @for (var i = 1; i <= Model.Count; i++)
                {
                <tr data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed align-middle">

                    <th scope="row">@i</th>
                    <td>@Model[i-1].Code</td>
                    <td>
                        <div class="d-none d-lg-block">
                                @Model[i-1].ConditionValue
                        </div>

                    </td>
                    <td>@Model[i-1].ConditionValue</td>

                    <td>@Model[i-1].CreatedDate.Value.ToString("dd MMM y HH:mm")</td>
                    <td>
                        <div class="d-none d-lg-block">
                                @Model[i-1].ExpiredDate.Value.ToString("dd MMM y HH:mm")
                        </div>
                    </td>
                    <td>
                            @Model[i-1].Amount
                    </td>
                    <td>
                            @if (Model[i - 1].State.ToString() == "ComingSoon")
                            {
                            <span class="text-warning">@Model[i-1].State</span>
                            }
                            else if (Model[i - 1].State.ToString() == "Using")
                            {
                            <span class="text-secondary">@Model[i-1].State</span>
                            }
                            else
                            {
                            <span class="text-color-secondary">@Model[i-1].State</span>
                            }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-controller="Voucher" asp-area="Admin" asp-route-id="@Model[i-1].Code" class="border-1 link-info table-icon">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                </tr>
                }
            </tr>
        </tbody>
    </table>
</div>