@using FlowerShopManagement.Web.Views.Shared.Components;
@model ProductDetailModel

@{
	ViewData["Title"] = "Detail Page";
}
<div class="mt-5 row">

	<div class="col-4">
		<img src="~/image/@Model.Pictures[0]" class="w-100" style="height: 450px; object-fit: cover;" />
	</div>

	<div class="col-5 d-flex flex-column justify-content-between">
		<component type="typeof(ProductDetail)"
				   render-mode="ServerPrerendered"
				   param-url=@Url.Action("AddToCart","Cart",null,Context.Request.Scheme)
				   param-url1=@Url.Action("BuyNow","Order",null,Context.Request.Scheme)
				   param-Model="@Model" />
	</div>

	<div class="col-3 d-flex flex-column gap-3">

		<div class="">
			<label class="h6">Description</label>
			<p class="mt-2 limit-line-8">
				@Model.Description
			</p>
			<a class="text-decoration-underline caption-lg text-color-secondary cursor float-end"
			   onclick="OpenGetDialog('@Url.Action("SeeMore","ProductDetail",null,Context.Request.Scheme)','@Model.Name')">See more</a>
		</div>
		
		<div class="">
			<label class="h6">Maintainment</label>
			<p class="mt-2 limit-line-8">
				@Model.Maintainment
			</p>
			
			
		</div>
	</div>
</div>

@*<div class="row mt-5">
	<span>Review</span>
</div>

<div class="row mt-5">
	<span>Relative Product</span>
</div>*@