@model List<SupplierModel>

<div class="table-wrap mt-2">
	<table class="table myaccordion table-hover" id="accordion">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>
					<div class="d-none d-lg-block">
						Email
					</div>
				</th>
				<th>Phone Number</th>
				<th>Description</th>
				<th>Address</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
				@for (var i = 1; i <= Model.Count; i++)
				{
				<tr data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed align-middle">

					<th scope="row">@i</th>
					<td>@Model[i-1].Name</td>
					<td>
						<div class="d-none d-lg-block">
								@Model[i-1].Email
						</div>
					</td>
					<td>@Model[i-1].PhoneNumber</td>
					<td>@Model[i-1].Description</td>
					<td style="font-family:'Open Sans'">@Model[i-1].Address</td>
					<td>
						<a asp-action="Edit" asp-controller="Supplier" asp-area="Admin" asp-route-id="@Model[i-1]._id" class="border-1 link-info table-icon">
							<i class="fas fa-edit"></i>
						</a>
					</td>
				</tr>
				}
			</tr>
		</tbody>
	</table>
</div>